body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link-home {
color:white;
padding-right: 10px;
text-decoration: none;
}
.nav-link-Benefits {
color:white;
padding-right: 10px;
text-decoration: none;
}
.nav-link-Reviews {
color:white;
text-decoration: none;

}

/* Social Media Icons */

.bi-bi-instagram{
  padding-right:10px;
}
.bi-bi-twitter{
  padding-right:10px;
}
.bi-bi-youtube{
  padding-right:10px;
}
.bi-bi-fill{
  padding-right:10px;
}